@import "compass/reset";
@import "pkoin.css.scss";
@import "base.css.scss";
@import "responsive.css.scss";
@import "helper.css.scss";

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.header-container {
  background: $header_bg_color;
  border-bottom: 10px solid $main_color;
  color: white;
  padding: 10px 0;

  a {
    color: white;
    text-decoration: none;
  }

  .why,
  .title {
    float: left;
  }

  .why {
    margin-right: 3%;
  }

  .sub-title {
    float: right;
  }
}

.main {
  padding: 30px 0;
}

.footer-container {
  text-align: center;

  a {
    color: $bottom_link_color;
    text-decoration: none;
  }

  ul li {
    display: inline-block;
    margin-right: 2%;
  }
}

.footer-container {
  span {
    margin-right: 3%;
  }
}

.pages {
  text-align: center;
}

article {
  h1 {
    float: left;
    font-size: 1.8em;
    padding-right: 10px;
    font-weight: bold;
  }

  .meta {
    font-size: 1.1em;
    &:before {
      font-family: FontAwesome;
      content: "\f101";
      padding-right: 5px;
    }
  }

  p {
    padding-top: 15px;
    text-align: justify;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  ul {
    list-style: disc inside;
  }

  img {
    border: $border_img;
    padding: 5px;
  }
}

article.summary {
  padding-bottom: 20px;

  a.more {
    font-size: 1.1em;
    text-decoration: none;
    &:before {
      font-family: FontAwesome;
      content: "\f196";
      padding-right: 5px;
    }
  }

  p {
    padding-top: 0;
  }
}
